@media screen,print {
    body {
        padding-top: 60px;
    }
}

.table td {
    vertical-align: middle;
}

.linkless {
    pointer-events: none;
    cursor: default;
}

h6 {
    text-transform: none;
}

.centralise {
    text-align: center;
}

.table .centralise {
    text-align: center;
}