<div class="header suite-header">
    <h1>
        Suite Results
        <p class="subtitle">{{{overview.timestampFormatted}}}</p>
    </h1>
    <div class="header-stats">
      <div class="header-stats-box chart-wrapper">
          <canvas class="chart"></canvas>
      </div>
      <div class="header-stats-box time-wrapper">
          <span class="time-label">Total Time</span>
          <span class="time-value">{{{overview.totalTime}}}</span>
      </div>
    </div>
</div>

<div class="suite">

  <div class="suite-results box">
      <div class="box-body">
        <table>
            <thead>

            </thead>
            <tbody>

              {{#each suite.testCases}}
                {{> testcase this}}
              {{/each}}
            </tbody>
        </table>
      </div>
  </div>

  {{#each suite.suites}}
    {{> suite this}}
  {{/each}}

  <p class="footer version">{{{overview.madcowVersion}}}</p>

</div>