<!-- Carousel
    ================================================== -->
<div id="carousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/img/carousel-01.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Advanced Test Automation</h1>
                    <p class="lead">Madcow is the premier test automation tool designed to make your life <u><i>easier</i></u>. Developers love it. Testers can <i>actually</i> use it.</p>
                    <a class="btn btn-large btn-primary" href="/download">Download today &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/carousel-02.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Designed by Real People</h1>
                    <p class="lead">Tried of using cumbersome test automation tools that are really just test harnesses? Madcow was designed to make system testers self sufficient - no developer support is needed!</p>
                    <a class="btn btn-large btn-primary" href="/example">See a Quick Example &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/carousel-03.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Automate alone, or in a team</h1>
                    <p class="lead">Madcow wraps software engineering principles of variables, reuse and refactoring into a simple to understand framework. You won't look back!</p>
                    <a class="btn btn-large btn-primary" href="/documentation">Read the Documentation &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->