
<h1>
    madcow <p class="subtitle">v2.0</p>
</h1>

<ul class="nav">
    <li class="active">
        <a href="#"><i class="fa fa-tasks"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench"></i></a>
    </li>
</ul>