<div class="header">
    <h1>
        <a href="#" class="back-link"><i class="fa fa-angle-left"></i></a> common.CCSPTR-2098Test
        <p class="subtitle passed">Passed</p>
    </h1>

    <ul class="links">
        <li>
            <span class="title"><a href="#" class="btn">Open Log</a></span>
        </li>
        <li>
            <span class="title">Steps</span>
            <span>42</span>
        </li>
        <li>
            <span class="title">Time</span>
            <span>75.601s</span>
        </li>
        <li>
            <span class="title">Suite</span>
            <span>common</span>
        </li>
    </ul>
</div>

<div class="testcase">

    <div class="testcase-info box">
        <div class="test-info">
            <h3>Test Information</h3>
            <ol>
                <li>
                    <a href="#">Recovery Note</a>
                </li>
                <li>
                    <a href="#">Login to ClaimCenter as specific User</a>
                </li>
                <li>
                    <a href="#">Search for Policy</a>
                </li>
                <li>
                    <a href="#">Motor Basic Information</a>
                </li>
                <li>
                    <a href="#">Loss Details for a Collision Type Loss Clause</a>
                </li>
                <li>
                    <a href="#">Vehicle Details for Collision Loss Clause</a>
                </li>
                <li>
                    <a href="#">Driver Details</a>
                </li>
                <li>
                    <a href="#">Sets ABN Details on Motor Loss screen.</a>
                </li>
                <li>
                    <a href="#">Click the next buttons to finish the wizard</a>
                </li>
                <li>
                    <a href="#">Log on and search for a claim</a>
                </li>
                <li>
                    <a href="#">Search for a claim</a>
                </li>
                <li>
                    <a href="#">Add Note through Actions menu</a>
                </li>
            </ol>
        </div>
        <div class="runtime-data">
            <h3>Claim Number <span class="details">MV00000304</span></h3>
        </div>
    </div>

    <div class="testcase-results box">
      <table>
          <thead>
          <tr>
              <th>#</th>
              <th>Status</th>
              <th>Time</th>
              <th>Grass</th>
              <th>Details</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>0000001</td>

              <td nowrap="nowrap"><a class="btn btn-success linkless"><i class="icon-cog icon-white"></i></a>&nbsp; <a class="btn btn-info" href="0000001.html"><i class="icon-download-alt icon-white"></i></a>&nbsp; <a class="btn btn-info" href="0000001.png"><i class="icon-camera icon-white"></i></a></td>

              <td>-</td>

              <td>testInfo = Recovery Note</td>

              <td>Recovery Note

              </td>
          </tr>

          <tr>
              <td>0000002</td>

              <td nowrap="nowrap"><a class="btn btn-success linkless"><i class="icon-cog icon-white"></i></a></td>

              <td>-</td>

              <td>@teleclaimUser = rdclone1</td>

              <td>
              </td>
          </tr>

          <tr>
              <td>0000003</td>

              <td nowrap="nowrap"><a class="btn btn-success linkless"><i class="icon-cog icon-white"></i></a></td>

              <td>-</td>

              <td>@userid = @teleclaimUser</td>

              <td>
                  <h6>@userid = rdclone1</h6>


              </td>
          </tr>

          </tbody>
      </table>
    </div>

</div>