@import '../variables';
@import 'mixins';

* {
  /* apply a natural box layout model to all elements */
  .box-sizing(border-box);
  &:before, &:after {
    .box-sizing(border-box);
  }

  /* everything relative */
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  z-index: 0;
  height: 100%;
  overflow-x: hidden;
  min-width: 768px;
}

image {
  border: 0;
}

.box {
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
  .box-shadow(0 1px 1px @shadow-color);

  .box-header {
    border-bottom: 1px solid #f4f4f4;
    color: #444;
    display: block;
    padding: 10px;
    position: relative;

    h3 {
      display: inline-block;
      font-size: 1.3em;
      margin: 0;
      padding: 0;
      line-height: 1.2em;
    }
  }

  .box-body {
    padding: 20px 30px 20px;
  }

  .box-header, .box-body {
    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}