<div class="header">
    <h1>
      Settings
    </h1>
</div>

<div class="settings">

    <div class="settings-list box">
        <div class="box-body">
            <table>
                <tbody>

                {{#eachInMap config}}
                  {{> setting this}}
                {{/eachInMap}}

                {{#eachInMap overview}}
                  {{#if_eq key "madcowVersion"}}
                    {{> setting this}}
                  {{/if_eq}}
                {{/eachInMap}}

                </tbody>
            </table>
        </div>
    </div>

</div>